<div class="row g-0 justify-content-evenly p-md-0 p-4">
        <div class="col-md-3 col-12 mt-md-5 mt-2">
            <img class="w-60-logo  ml-2 border-radius" src="../../assets/logo.jpg" alt="Dragutin Mrdak">
            <p class="mt-2 font-11-px">TRENIRAJ KAKO TI SE KAŽE, JEDI KAKO TI SE KAŽE I <br> GLEDAĆEŠ PROMENE KOJE SI ODUVEK ŽELEO DA VIDIŠ</p>
        </div>

        <div class="col-md-3 col-12 mt-md-5 mt-2">
            <h5 class="mb-4">Kontakt Podaci</h5>           
            <span><i class="fas fa-envelope"></i> Email: mrdak.dragutin@gmail.com</span> <br>
            <span><i class="fas fa-phone"></i> Telefon: 063/ 87 - 09 - 090</span> <br>
            <span><i class="fas fa-map-marker-alt"></i> Lokacija: Beograd, Srbija</span>
        </div>

        <div class="col-md-3 col-12 mt-md-5 mt-2 footer">
           <h5 class="mb-4">Drustvene Mreze</h5>
           <span class="icon-border"><i class="fab fa-facebook-square"></i></span>
           <a href="https://www.instagram.com/dale_5_fitness/?hl=sr" target="_blank"><span class="icon-border"><i class="fab fa-instagram mr-2"></i></span></a>
           <a href="https://msng.link/o/?0638709090=vi"><span class="icon-border"><i class="fab fa-viber mr-2"></i></span></a>
           <a href="https://msng.link/o/?0638709090=wa"><span class="icon-border"><i class="fab fa-whatsapp mr-2"></i></span> </a>
        </div>
</div>
<div class="footer-white col-12 text-center p-1 mt-5">
    <p class="mb-0"><i class="far fa-registered mr-2"></i><b>Sva prava zadrzava Dragutin Mrdak.</b></p>
</div>