<app-header></app-header>
<h1 class="text-center mt-5 mb-4 fs-1">Ko je coach Dale - Dragutin Mrdak?</h1>
<div class="container mt-md-5 mb-md-5 mt-2 mb-2">
    <div class="row font-13-px">
      <div class="col-md-6 col-12 animate__animated animate__backInDown">
        <p>Moja sportska prica je zapravo pocela sada vec davne '98. Godine, kad sam poceo da treniram fudbal i negde ujedno sa fudbalom zakoračio u svet fitnesa. Vec u 4. Razredu osnovne skole, svakodnevno sam radio zgibove, sklekove, propadanja, trbusnjake konstantno povećavajući broj ponavljanja vežbi, serija i "Sad su to milijarde sklekova"</p>
        <br>
        <p>Kako u svetu sporta velike rezultate uvek prate i one manje lepe stvari, u fudbalskoj karijeri sam imao raznih povreda i operacija. Posle prve vece povrede sa svojih 18 godina, i pauze od 6 mjeseci, život i fudbalsku karijeru sam nastavio u Kragujevcu, gde sam uz trenerom Atletike Vladom, svima poznatijim kao Profa, započeo i svoj oporavak. Uz profesionalne atletičare sam počeo i da treniram, kombinujući treninge i sa tegovima u teretani. Povrede na terenu, koje su kasnije usledile približile su me mnogo više teretani i tom konceptu treninga. U svim tim pre i post-operativnim periodima sam uz brata, doktorom medicine, samoinicijativno zapoceo da istrazujem, citam o ljudskoj anatomiji  i misicima kako bi se bolje pripremao za operacije i brze oporavljao od istih. Pored atletske staze i teretane na stadionu Radnickog, dosta vremena sam provodio i u Fitnes Centru Olympia, gdje sam uz Gorana i Djuru takodje ucio dosta i o bodibildingu i treningu sa tegovima.</p>
        <br>
        <p>2013. Godine sam okončao fudbalsku karijeru i fokusirao se na  trogodisnje studije na Sportskoj Akademiji-Akademiji fudbala na starom DIFu u Beogradu. Nedugo zatim se poceo i da radim u teretani, čiji je fokus bio na individualnim treninzima sa rekreativcima i sportistima (kosarka,fudbal,tenis,rukomet).</p>
        <br>
        <p>Kao sam uvijek volio raznovrsan i drugačiji trening, često i sam radio weightlifting, 2016 godine me moja želja za nečim novim i drgačijim dovela do CFK District-a, gdje sam uz pomoc Marka i Djoleta ,posle kratkog probnog rada poceo da drzim i grupne funkcionalne treninge.</p>
        <br>
        <p>Već 2017. Godine sam polozio za CFL1(stavi u zagradi pun naziv)  trenera u sklopu CrossFit-a, nakon čega su uslijedila i lokalna takmicenja, gdje sam više saznajući o samom konceptu treninga, istrazivao i o načinu ishrane namenjenoj sportistima i rekreativcima koji se bave ovim tipom treninga.</p>
      </div>
      <div class="col-md-6 col-12">
        <img class="w-100 mt-5 animate__animated animate__backInDown box-shadow" src="../../assets/dragutin-mrdak.jpg" alt="Dragutin Mrdak">
      </div>
    </div>
    <div class="row mt-5 font-13-px">
      <div class="col-md-6 col-12">
        <img class="w-100 mt-5 mb-md-0 mb-2 animate__animated animate__backInDown box-shadow" src="../../assets/crossfit.jpg" alt="Crossfit">
      </div>
      <div class="col-md-6 col-12 animate__animated animate__backInDown">
        <h5 class="fs-4">Kako mi je pomogao Crossfit?</h5>
        <p>Hajde da razbijemo stereotope o Crossfitu i povredama. Svaki trening i svaka vježba, koja se radi nepravilno i neprolagođeno mogućnostima, može da dovede do povrede i tu se ne radi o Crossfitu, niti bilo kom drugom tipu treninga.</p>
        <br>
        <p>Crossfit treniram skoro pola vremena, koliko sam trenirao fudbal i rezultat je da mi je samo pomogao da neke nedostatke od starih povreda sa fudbala uklonim potpuno ili ublazim. Ključ je u pravilnom pristupu. Od početka moje karijere u svetu Crossfita, stacioniran sam na Vozdovcu, gdje pored individualnih treninga sa sportistima i rekreativcima, drzim i grupne CrossFit treninge. </p>
        <br>
        <p>Kako su posvećenost, napredak, individualan pristup klijentima, moj cilj i jedini put koji želim da nastavim svoju karijeru trenera, kako 1 na 1 tako i online, konstantno usavršavanje i praćenje trendova u svetu fitnessa i Crossfita su sastavni deo mog razvojnog puta. U sklopu Perform Better Europe- završio sam <b>CFT1</b> edukaciju, <b>NCI Level 1</b>, kurs za Nutrition Coaching, i <b>FMS 1&2</b></p>
        <br>
        <p>Moja sledeća stanica je CrossFit L2 licenca. Konstantan rad sa ljudima i rad na sebi je ono cemu tezim kako bi vama olaksao ovu fitnes pricu. Moj cilj, kao vašeg trenera je da vas motivišem, da vam prenesem znanje i lifestyle, koji mozete lako da uklopite u svoj i ne morate sebi nista da uskracujete. Ukoliko si zainteresovan da svoj život promeniš iz korena i da zdrave navike i treninzi postanu sastavni deo tvog života, a ne obaveza, baci pogled na programe i usluge koje nudim <b></b>tot</p>
      </div>
    </div>
  </div>
<app-footer></app-footer>
