<div class="login-img">
    <div class="col-12 darkn p-2">
        <a class="nav-link" routerLink="/home"><span class="home-size"><i class="fas fa-home"></i></span></a>
    </div>
    <form>
        <div class="row no-gutters m-auto col-md-5 text-center border-log-in justify-content-center mt-md-0 mt-4 p-3">
            <div class="text-center">
                <img class="w-50-px mt-2 mb-2" src="../../assets/logo.jpg" alt="Dragutin Mrdak">
            </div>
            <h4 class="color-with col-12">Prijavite se</h4>
            <p class="color-with text-center col-12 mt-2">Prijavite se da bi pristupili svom nalogu na fitnes platformi.</p>
            <div class="mb-4 col-md-11 col-12">
                <div class="input-group mb-3 col-md-7 m-auto">
                    <input type="text" class="form-control" placeholder="E-mail" aria-label="e-mail" aria-describedby="basic-addon1" name="playerId">
                </div>
            </div>
            <div class="mb-4 col-md-11 col-12">
                <div class="input-group mb-3 col-md-7 m-auto">
                    <input type="password" class="form-control" placeholder="Lozinka" aria-label="lozinka" aria-describedby="basic-addon1" name="password">
                </div>
            </div>
            <div class="col-12 mt-1 mb-3">
                <button class="btn-sing-in"><b>Prijavite se</b></button>
            </div>
        </div>
    </form>
</div>


