<app-header></app-header>
<h2 class="col-12 text-center mt-3 mb-5">Personalni Trening</h2>
<div class="col-12">
    <h1>Veliki video ovde treba poslati...</h1>
</div>
<div class="p-2">
    <p>Personalni treninzi, tj treninzi 1 na 1 su najdetaljniji oblik saradnje. Na samom pocetku klijent popunjava upitnik, zdravstveni skrining a onda se krece sa mjerenjem i testovima:</p>
    <ol>
        <li>Mjerenje tjelesnog sastava (Tanita, % masti kaliperom, obimi, slikanje)</li>
        <li>Test funkcionalne pokretljivosti</li>
        <li>Testovi snage i izdrzljivosti</li>
        <li>Testovi kardiorespiratorne forme</li>
    </ol>
    <p>Sva ova testiranja mi daju detaljan uvid u vase trenutno stanje posle kojih se postavlja cilj i pravi plan za postizanje istog. Uz sve pakete personalnih treninga se dobija i plan ishrane. Ukoliko niste upoznati sa makrosima i niste nikad pratili unos hrane, prvi mjesec je zbog pisanja plana ishrane ce biti malo uvecana cijena.</p>
    <h6>*Napomena* koliko ne dajete maksimum na treningu i ne pridrzavate plana ishrane, trener vam ne moze garantovati rezultate.</h6>
</div>

<div class="demo">
    <div class="container">
        <div class="row text-center">
            <h1 class="heading-title">Cenovnik</h1>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="pricingTable">
                    <div class="pricingTable-header">
                        <h3 class="heading">Standard</h3>
                        <span class="subtitle">12 Termina Mesecno</span>
                        <div class="price-value">200
                            <span class="currency">	&euro;</span>
                            <span class="month">/mo</span>
                        </div>
                    </div>
                    <ul class="pricing-content">
                        <li>?</li>
                        <li>?</li>
                        <li>?</li>
                        <li>?</li>
                    </ul>
                    <a href="#" class="read">Prijavi se<i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pricingTable">
                    <div class="pricingTable-header">
                        <h3 class="heading">Business</h3>
                        <span class="subtitle">16 termina mesecno</span>
                        <div class="price-value">240
                            <span class="currency">	&euro;</span>
                            <span class="month">/mo</span>
                        </div>
                    </div>
                    <ul class="pricing-content">
                        <li>?</li>
                        <li>?</li>
                        <li>?</li>
                        <li>?</li>
                    </ul>
                    <a href="#" class="read">Prijavi se<i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pricingTable">
                    <div class="pricingTable-header">
                        <h3 class="heading">Premium</h3>
                        <span class="subtitle">20 termina mesecno</span>
                        <div class="price-value">290
                            <span class="currency">	&euro;</span>
                            <span class="month">/mo</span>
                        </div>
                    </div>
                    <ul class="pricing-content">
                        <li>?</li>
                        <li>?</li>
                        <li>?</li>
                        <li>?</li>
                    </ul>
                    <a href="#" class="read">Prijavi se<i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12 text-center">
    <h6>Kontaktirajte Me</h6>
    <img class="w-50-px mt-2 m-2" src="../../assets/viber.png" alt="Viber">
    <img class="w-50-px mt-2 m-2" src="../../assets/whatsapp.png" alt="Whatsapp">
</div>
<app-footer></app-footer>