<app-header></app-header>
<div class="services-img align-content-center row services-img p-0 m-0">
    <div class="col-12 animate__animated animate__backInDown">
        <button class="btn btn-danger mb-3 ml-40 w-160-px" type="button" routerLink="/personal">Personalni 1 na 1</button>
    </div>
    <div class="col-12 animate__animated animate__backInDown">
        <button class="btn btn-danger mb-3 ml-40 w-160-px" type="button">Online coaching</button>
    </div>
    <div class="col-12 animate__animated animate__backInDown">
        <button class="btn btn-danger mb-3 ml-40 w-160-px" type="button">Nutrition coaching</button>
    </div>
</div>
